# Heimdall theme for Alacritty

[colors.primary]
background = "{{background}}"
foreground = "{{foreground}}"

[colors.cursor]
text = "{{background}}"
cursor = "{{cursor|default:foreground}}"

[colors.normal]
black = "{{colour0}}"
red = "{{colour1}}"
green = "{{colour2}}"
yellow = "{{colour3}}"
blue = "{{colour4}}"
magenta = "{{colour5}}"
cyan = "{{colour6}}"
white = "{{colour7}}"

[colors.bright]
black = "{{colour8}}"
red = "{{colour9}}"
green = "{{colour10}}"
yellow = "{{colour11}}"
blue = "{{colour12}}"
magenta = "{{colour13}}"
cyan = "{{colour14}}"
white = "{{colour15}}"
