# Heimdall theme for btop

theme[main_bg]="{{background}}"
theme[main_fg]="{{foreground}}"
theme[title]="{{foreground}}"
theme[hi_fg]="{{colour4}}"
theme[selected_bg]="{{colour8}}"
theme[selected_fg]="{{colour7}}"
theme[inactive_fg]="{{colour8}}"
theme[graph_text]="{{foreground}}"
theme[proc_misc]="{{colour5}}"
theme[cpu_box]="{{colour4}}"
theme[cpu_text]="{{colour7}}"
theme[mem_box]="{{colour5}}"
theme[mem_text]="{{colour7}}"
theme[net_box]="{{colour6}}"
theme[net_text]="{{colour7}}"
theme[proc_box]="{{background}}"
theme[proc_text]="{{foreground}}"
