# Heimdall theme for fuzzel

[main]
font=monospace:size=10
dpi-aware=yes
width=30
horizontal-pad=20
vertical-pad=10
inner-pad=10

[colors]
background={{background.raw}}dd
text={{foreground.raw}}ff
match={{colour4.raw}}ff
selection={{background|lighten:10|raw}}ff
selection-text={{foreground.raw}}ff
selection-match={{colour4.raw}}ff
border={{colour8.raw}}ff
