# Heimdall color scheme for Hyprland

$background = rgb({{background.raw}})
$foreground = rgb({{foreground.raw}})
$color0 = rgb({{colour0.raw}})
$color1 = rgb({{colour1.raw}})
$color2 = rgb({{colour2.raw}})
$color3 = rgb({{colour3.raw}})
$color4 = rgb({{colour4.raw}})
$color5 = rgb({{colour5.raw}})
$color6 = rgb({{colour6.raw}})
$color7 = rgb({{colour7.raw}})
$color8 = rgb({{colour8.raw}})
$color9 = rgb({{colour9.raw}})
$color10 = rgb({{colour10.raw}})
$color11 = rgb({{colour11.raw}})
$color12 = rgb({{colour12.raw}})
$color13 = rgb({{colour13.raw}})
$color14 = rgb({{colour14.raw}})
$color15 = rgb({{colour15.raw}})
$accent = rgb({{colour4.raw}})
$accent_alt = rgb({{colour5.raw}})
