# Heimdall theme for Kitty

foreground {{foreground}}
background {{background}}
cursor {{cursor|default:foreground}}

# Black
color0 {{colour0}}
color8 {{colour8}}

# Red
color1 {{colour1}}
color9 {{colour9}}

# Green
color2 {{colour2}}
color10 {{colour10}}

# Yellow
color3 {{colour3}}
color11 {{colour11}}

# Blue
color4 {{colour4}}
color12 {{colour12}}

# Magenta
color5 {{colour5}}
color13 {{colour13}}

# Cyan
color6 {{colour6}}
color14 {{colour14}}

# White
color7 {{colour7}}
color15 {{colour15}}
