[ColorScheme]
active_colors={{foreground}}, {{background|lighten:10}}, {{background|lighten:15}}, {{colour8}}, {{foreground|darken:20}}, {{colour7}}, {{foreground}}, #ffffff, {{foreground}}, {{background}}, {{background|darken:5}}, {{background|lighten:15}}, {{colour4}}, {{background}}, {{colour6}}, {{colour5}}, {{background|lighten:10}}, {{foreground}}, {{background|darken:10}}, {{foreground}}, {{foreground|darken:20}}
disabled_colors={{foreground|darken:20}}, {{background|lighten:10}}, {{background|lighten:15}}, {{colour8}}, {{foreground|darken:20}}, {{foreground|darken:20}}, {{foreground|darken:20}}, #ffffff, {{foreground|darken:20}}, {{background}}, {{background|darken:5}}, {{background|lighten:15}}, {{background|lighten:10}}, {{foreground|darken:20}}, {{colour6}}, {{colour5}}, {{background|lighten:10}}, {{foreground|darken:20}}, {{background|darken:10}}, {{foreground|darken:20}}, {{foreground|darken:20}}
inactive_colors={{foreground}}, {{background|lighten:10}}, {{background|lighten:15}}, {{colour8}}, {{foreground|darken:20}}, {{colour7}}, {{foreground}}, #ffffff, {{foreground}}, {{background}}, {{background|darken:5}}, {{background|lighten:15}}, {{colour4}}, {{background}}, {{colour6}}, {{colour5}}, {{background|lighten:10}}, {{foreground}}, {{background|darken:10}}, {{foreground}}, {{foreground|darken:20}}
