# Heimdall theme for Spicetify

[Base]
main_bg = {{background.raw}}
sidebar_bg = {{background|darken:5|raw}}
player_bg = {{background|darken:10|raw}}
card_bg = {{background|lighten:10|raw}}
shadow = 000000
main_fg = {{foreground.raw}}
sidebar_fg = {{colour7.raw}}
secondary_fg = {{foreground|darken:20|raw}}
selected_button = {{colour4.raw}}
pressing_button_bg = {{background|lighten:10|raw}}
pressing_button_fg = {{foreground.raw}}
miscellaneous_bg = {{background|lighten:15|raw}}
miscellaneous_hover_bg = {{colour8.raw}}
preserve_1 = ffffff
