-- Heimdall theme for WezTerm

return {
  colors = {
    foreground = "{{foreground}}",
    background = "{{background}}",
    cursor_bg = "{{cursor|default:foreground}}",
    cursor_fg = "{{background}}",
    cursor_border = "{{cursor|default:foreground}}",
    
    ansi = {
      "{{colour0}}",  -- black
      "{{colour1}}",  -- red
      "{{colour2}}",  -- green
      "{{colour3}}",  -- yellow
      "{{colour4}}",  -- blue
      "{{colour5}}",  -- magenta
      "{{colour6}}",  -- cyan
      "{{colour7}}",  -- white
    },
    
    brights = {
      "{{colour8}}",  -- bright black
      "{{colour9}}",  -- bright red
      "{{colour10}}", -- bright green
      "{{colour11}}", -- bright yellow
      "{{colour12}}", -- bright blue
      "{{colour13}}", -- bright magenta
      "{{colour14}}", -- bright cyan
      "{{colour15}}", -- bright white
    },
  },
}
